@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Patrick+Hand&display=swap');
@import "tailwindcss";


.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: normal;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", system-ui;
  font-weight: normal;
  font-style: cursive;
}

.bg-bada {
  background-color: #FFFE01;
}

.text-bada {
  color: #FFFE01;
}
